body {
    font-size: 20px;
    margin-top: 4rem;
}

.navbar {
    background-color: rgb(30, 126, 250);
    display: block;
}

.navbar-brand, .nav-link {
    color: aliceblue;
    transition: 0.1s ease-in;
}

.navbar-toggler {
    color: aliceblue;
}

.alers {
    margin: 2rem 0rem;
}

.alerts_block {
    background-color: rgba(189, 194, 255, 0.387);
    border-radius: 18px;
    padding: 0.75rem;
    text-align: left;
    align-items: center;
}

.alerts_block p {
    margin: auto;
}

.info_block {
    margin: 2rem 0rem;
}

.cont_advantage {
    margin-top: 1rem;
    transition: 0.2s ease-in;
    border-radius: 35px;
}

.cont_advantage:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: rgba(226, 235, 255, 0.463);
}

.user_func {
    padding: 1rem;
}

.user_func a{
    text-decoration: none;
    color: black;
}

.exit-cont .bi {
    color: rgb(199, 22, 22);
}

.exit-cont:hover {
    background-color: rgba(255, 215, 215, 0.539);
}

.user_func:hover {
    cursor: pointer;
}

.iconnn {
    color: rgb(30, 126, 250);
}

main {
    margin: 0rem 6rem;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px 10px;
    overflow: hidden;
}

.table th, tr, td {
    padding-top: 2.5rem;
    text-align: left;
    vertical-align: middle;
}

.action_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.table td:last-child, th:last-child {
    text-align: center;
}

.action_buttons .bi {
    background-color: rgba(207, 211, 255, 0.178);
    padding: 0.5rem 1rem;
    color: black;
    transition: 0.1s ease-in;
    border-radius: 20px;
}

.action_buttons .bi:hover {
    background-color: rgba(190, 196, 255, 0.625);
    color: rgb(8, 0, 255);
    cursor: pointer;
    transform: translateY(-1px) scale(1.05);
}

.empty_requests, .empty_tutors,  .empty_courses {
    padding: 2rem 2rem;
    background-color: rgba(206, 209, 255, 0.297);
    border-radius: 20px;
    vertical-align: middle;
    margin-bottom: 2rem;
}

.banner-langworld {
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    font-size: 4.5rem;
    transition: 0.22s ease-in;
}

.banner-langworld:hover {
    transform: translateY(-2px) scale(1.1);
}

.banner-hero:hover {
    cursor: crosshair;
}

.result_search_tutors {
    display: none;
}

#ordersTable .btn {
    margin: 0rem 0.3rem;
    transition: 0.2s ease-in;
}

#ordersTable .btn:hover {
    transform: translateY(0px) scale(1.15);
}

@media (max-width: 876px) {
    main {
        margin: 0rem 0rem;
    }
    
    table {
        font-size: calc(1em - 8px);
    }
    .action_buttons {
        gap: 0.1rem;
    }
    .banner-langworld {
    font-size: 3rem;
    }
}

@media (max-width: 550px) {
    table {
        font-size: calc(1em - 12px);
    }
    .banner-langworld {
    font-size: 2rem;
    }
}